<!DOCTYPE html>
<html lang="en">
<head>

<!--Meta Stuff-->
<meta charset="UTF-8" />

<!--Responsive Viewport-->
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

<!--Page Title-->
<title>My Static Generated Blog</title>

<!--CSS-->
<link rel="stylesheet" type="text/css" href="/css/main.min.css" />

</head>
<body>

<header class="o-box o-box--spacing-large u-padding-horizontal-none u-background-lightgrey u-align-center u-margin-bottom-regular u-margin-bottom-huge@md">	
	<h1 class="c-type-alpha"><a href="/">My Static Generated Blog</a></h1>
</header>

<div class="o-container u-margin-bottom-huge@md">
	<div class="o-layout o-layout--spacing-large@md">
		<section class="o-layout__item u-8/12@md">

			<div class="o-box o-box--spacing-small u-background-lightgrey u-margin-bottom-regular" data-component="filter-title">
					Viewing all posts in <span class="u-strong">Web Development</span> category
				<a href="/" class="u-float-right"><img src="/img/delete.svg" class="c-icon-delete" alt="delete filter"></a>
			</div>

			<div data-component="posts" class="u-margin-bottom-small u-margin-bottom-large@md">
				{# Post #}
				<div data-component="post" class="c-post u-margin-bottom-regular">
					{# Title #}
					<div class="c-post__title">
						<h2 class="c-type-charlie"><a href="/">Create a static blog using Gulp and Nunjucks</a></h2>
						<span>By <a href="/author/">Luke Harrison</a></span>
					</div>
					<div class="c-post__info u-margin-bottom-small">

						<div class="u-float-left@sm3 u-margin-right-small@sm3">
							<div class="o-media o-media--spacing-micro">
								<div class="o-media__image">
									<img src="/img/clock.svg" class="c-icon-clock" alt="post date">
								</div>
								<div class="o-media__body">
									XXth June 2017
								</div>
							</div>						
						</div>

						<div class="u-float-left@sm3 u-margin-right-small@sm3">
							<div class="o-media o-media--spacing-micro">
								<div class="o-media__image">
									<img src="/img/folder.svg" class="c-icon-folder" alt="category">
								</div>
								<div class="o-media__body">
									<a href="/category/">Web Development</a>
								</div>
							</div>						
						</div>

						<div class="u-float-left@sm3 u-margin-right-small@sm3">
							<div class="o-media o-media--spacing-micro">
								<div class="o-media__image">
									<img src="/img/tag.svg" class="c-icon-tag" alt="tag">
								</div>
								<div class="o-media__body">
									<ul class="o-list-inline o-list-inline--delimited-comma o-list-inline--spacing-tiny">
										<li class="o-list-inline__item"><a href="/tag/">JavaScript</a></li>
										<li class="o-list-inline__item"><a href="/tag/">Gulp</a></li>
										<li class="o-list-inline__item"><a href="/tag/">Nunjucks</a></li>
									</ul>
								</div>
							</div>						
						</div>

					</div>
					<p>This is the post excerpt...</p>
					<a href="/.html" class="c-button">Read more</a>
				</div>
			</div>

			{# Generate pagination if we have more than 1 page #}
			<nav class="u-align-center u-margin-bottom-regular@max-md" data-component="pagination">	
				<div class="o-layout">
					<div class="o-layout__item o-layout__item--1 o-layout__item--1@sm3 u-1/2 u-1/3@sm3 u-align-left u-margin-bottom-tiny@max-sm3">
						<a href="/">Previous</a>
					</div>
					<div class="o-layout__item o-layout__item--3 o-layout__item--2@sm3 u-1/3@sm3 u-align-center">
						<ul class="o-list-inline o-list-inline--spacing-small o-list-inline--delimited-pipe">
							<li class="o-list-inline__item"><a href="/" class="u-strong">1</a></li>
							<li class="o-list-inline__item"><a href="/">2</a></li>
							<li class="o-list-inline__item"><a href="/">3</a></li>
						</ul>
					</div>
					<div class="o-layout__item o-layout__item--2 o-layout__item--3@sm3 u-1/2 u-1/3@sm3 u-align-right u-margin-bottom-tiny@max-sm3">
						<a href="/.html">Next</a>
					</div>
				</div>
			</nav>
		</section>
		<aside class="o-layout__item u-4/12@md">
			<div class="u-margin-bottom-small u-margin-bottom-regular@md">
				<h2 class="c-type-beta u-margin-bottom-tiny">Categories</h2>
				<ul class="o-list-bare">
					<li><a href="/category/">Web Design</a></li>
					<li><a href="/category/">Web Development</a></li>
				</ul>
			</div>
			<div class="u-margin-bottom-small u-margin-bottom-regular@md">
				<h2 class="c-type-beta u-margin-bottom-tiny">Tags</h2>
				<ul class="o-list-bare">
					<li><a href="/tag/">Gulp</a></li>
					<li><a href="/tag/">JavaScript</a></li>
					<li><a href="/tag/">Nunjucks</a></li>
				</ul>
			</div>
			<div class="u-margin-bottom-small u-margin-bottom-regular@md">
				<h2 class="c-type-beta u-margin-bottom-tiny">Authors</h2>
				<ul class="o-list-bare">
					<li><a href="/author/">Luke Harrison</a></li>
					<li><a href="/author/">Tester Jester</a></li>
				</ul>
			</div> 
		</aside>
	</div>
</div>




</body>
</html>