//--------------------------------------------------------------------------------------------------------------------------------------
// POST COMPONENT
//--------------------------------------------------------------------------------------------------------------------------------------

// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

.c-post {
	padding-bottom:rem(30px);
}

.c-post__title {
	padding-bottom:rem(15px);
}

.c-post__info {
	@include clearfix();
	border-top:rem(1px) solid color("lightgrey");
	border-bottom:rem(1px) solid color("lightgrey");
	padding:rem(15px) 0;
}