//--------------------------------------------------------------------------------------------------------------------------------------
// TYPE COMPONENT
//--------------------------------------------------------------------------------------------------------------------------------------

// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

/*
<a href="/" class="c-mycomponent">
	CONTENT
</a>
*/

.c-type-alpha {
	font-size:rem(32px);
}

.c-type-beta {
	font-size:rem(18px);
}

.c-type-charlie {
	font-size:rem(24px);
}

@include bp(md) {
	.c-type-alpha {
		font-size:rem(48px);
	}

	.c-type-beta {
		font-size:rem(24px);
	}

	.c-type-charlie {
		font-size:rem(32px);
	}
}