//--------------------------------------------------------------------------------------------------------------------------------------
// BUTTON COMPONENT
//--------------------------------------------------------------------------------------------------------------------------------------

// BASE & ELEMENTS
//--------------------------------------------------------------------------------------------------------------------------------------

.c-button {
	display:inline-block;
	background-color:color("blue");
	padding:rem(10px) rem(15px);
	border-radius:rem(5px);
	color:#ffffff;
	font-weight:bold;
}

.c-button:hover,
.c-button:focus {
	text-decoration:none;
	background-color:darken(color("blue"), 15%);
}